# Node modules del proyecto React Native
moodify/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*

# Builds de Android / iOS
moodify/android/build/
moodify/ios/build/

# Archivos de cache
moodify/.expo/
moodify/.expo-shared/

# Archivos del sistema
.DS_Store
Thumbs.db
